{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maktaba — Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet"  href="{% static 'css/formpage.css' %}">


</head>

<body>
  <div class="dashbord-wrapper">
    <aside class="sidebar">

      <div class="sidebar-logo">
        <h2>Maktaba Admin</h2>
        <p>FCAI - Library</p>
      </div>

        <ul class="sidbar-nav">
            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'book_inventory' %}">Book Inventory</a></li>
            <li><a href="{% url 'add_book_page' %}">Add Book</a></li>
        </ul>

      <div class="sidebar-user">
        <p id="username"></p>
        <p id="email"></p>
        <a href="{% url 'log_in' %}" id="logoutButton" class="signoutLink">
          <img  src="{%static 'images/logout_20dp_000000_FILL0_wght400_GRAD0_opsz20.svg'%}" alt="" alt="">
          logout
        </a>
      </div>

    </aside>

    <main class="main">
      <header class="page-header">
        <a href="{% url 'book_inventory' %}" class="back-link">⬅️ Back to Inventory</a>
        <h1>Add Book</h1>
        <p>Add a new book to the library inventory</p>


      </header>

      <div class="form-card">
        <div class="form-header">
          <h3>Book Details</h3>
          <p>Enter the book information below. All fields marked with * are required.</p>
        </div>
        <form action="book_inventory.html" id="addBookForm">

          <div class="form-group full-width">
            <label>Book Title *</label>
            <input type="text" placeholder="Introduction to Algorithms" required id="title">
          </div>

          <div class="form-group full-width">
            <label>Author(s) *</label>
            <input type="text" placeholder="Thomas H.Cormen , Charles E.messi" required id="authors">
          </div>
          <div class="form-row">
            <div class="form-group">
              <label>Category*</label>
              <select required id="category">
                <option value="SE" selected>Software Engineering</option>
                <option value="AI &DS">AI & Data science</option>
                <option value="Cyper">Cypersecurity</option>
                <option value="Embedded">Embedded Systems</option>
                <option value="Management">Management</option>
                <option value="self-help">Self-Help</option>
              </select>
            </div>

            <div class="form-group">
              <label>ISBN* *</label>
              <input type="text" placeholder="970-02600" required id="isbn">
            </div>
          </div>

          <div class="form-row">
            <!-- <div class="form-group"> -->
            <!--   <label>Publication year*</label> -->
            <!--   <input type="number" placeholder="2009" required id="year"> -->
            <!-- </div> -->
            <!---->
            <!-- <div class="form-group"> -->
            <!--   <label>Quantity *</label> -->
            <!--   <input type="number" placeholder="19" required id="quantity"> -->
            <!-- </div> -->

          </div>

          <div class="form-group full-width">
            <label>Status *</label>
            <select required id="status">
              <option value="available" selected>Available</option>
              <option value="borrowed">Borrowed</option>
              <option value="maintenance">Under Maintenance</option>
              <option value="lost">Lost</option>
            </select>
          </div>



          <div class="form-group full-width">
            <label>Description *</label>
            <textarea rows="4" placeholder="Enter Book Description or summary" id="description"></textarea>
          </div>

          <div class="form-actions">
            <button type="submit" class="submit-btn">Add Book</button>
            <a href="{% url 'book_inventory' %}" class="cancel-btn">Cancel</a>
          </div>


        </form>
      </div>

    </main>
  </div>
  <script type="module" src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/admin.js' %}"></script>
</body>

</html>
